Q1)What is a database? Differentiate between SQL and NoSQL databases?

A database is a collection of data that is organized and stored in a way that allows for efficient access, retrieval, and manipulation of the data.
In a database, data is typically organized into tables, which consist of rows and columns. Each row represents a single record, and each column represents a field or attribute of the record. For example, a database for a customer relationship management system might have a table for customers that contains columns for the customer's name, address, phone number, and email address.
SQL and NoSQL are two different types of database management systems, each with their own strengths and weaknesses. Here are some of the main differences between SQL and NoSQL databases:
Data Model: SQL databases use a structured data model that organizes data into tables with predefined relationships between them. These relationships are enforced by the database's schema, which specifies the types and constraints of the data. NoSQL databases, on the other hand, use a flexible and dynamic data model that can store unstructured or semi-structured data in a variety of formats, including documents, key-value pairs, or graphs.

Query Language: SQL databases use SQL (Structured Query Language) to perform queries and manipulate data. SQL is a standardized language that allows users to define, manipulate, and retrieve data from a relational database. NoSQL databases use their own query language or API to perform queries and manipulate data. These languages are often optimized for the specific data model and use case of the database.

Scalability: SQL databases are designed to scale vertically, which means adding more resources to a single server, such as CPU and RAM, to handle increased demand. This limits their scalability since there is a practical limit to how much a single server can handle. NoSQL databases are designed to scale horizontally, which means adding more servers to a distributed system to handle increased demand. This makes them highly scalable and able to handle large amounts of data and traffic.

Consistency: SQL databases prioritize consistency and enforce strict data validation and transactional control, ensuring that data is always in a consistent state. This can impact performance and scalability, especially in distributed systems. NoSQL databases prioritize availability and partition tolerance, which means that they sacrifice strict consistency for high availability and fault tolerance.

Cost: SQL databases tend to be more expensive to operate and maintain since they require specialized hardware and software and often require a skilled database administrator to manage them. NoSQL databases, on the other hand, can be less expensive since they can be run on commodity hardware and are often easier to set up and maintain.

Q2)What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example?

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.
-CREATE: The CREATE statement is used to create a new database object such as a table, index, or view. For example, the following statement creates a new table called "Customers" with columns for customer ID, name, and address:

In [ ]:
CREATE TABLE Customers (
  CustomerID int PRIMARY KEY,
  Name varchar(255),
  Address varchar(255)
);

-ALTER: The ALTER statement is used to modify an existing database object, such as adding or deleting a column from a table or changing the data type of a column. For example, the following statement adds a new column called "Email" to the "Customers" table:
ALTER TABLE Customers
ADD Email varchar(255);
-DROP: The DROP statement is used to delete an existing database object, such as a table or index. For example, the following statement deletes the "Customers" table:
DROP TABLE Customers;
TRUNCATE: The TRUNCATE statement is used to delete all the data from a table while keeping the structure of the table intact. For example, the following statement deletes all the data from the "Customers" table:
TRUNCATE TABLE Customers;

Q3) What is DML? Explain INSERT, UPDATE, and DELETE with an example?

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to modify data in a database. DML includes commands like INSERT, UPDATE, and DELETE, which are used to add, modify, and delete data in a table. Here are explanations of these three commands:
-INSERT: The INSERT statement is used to add new rows to a table.
For example, suppose you have a table named "students" with columns "id", "name", and "age", and you want to add a new student with id=1, name="John", and age=20. The INSERT statement would look like this:

In [ ]:
INSERT INTO students(id,name.age)
values(1,"tapan",23);
-UPDATE: The UPDATE statement is used to modify existing rows in a table. 
For example, suppose you want to update the age of the student with id=1 to 21. The UPDATE statement would look like this:
UPDATE students
SET age=23
WHERE id=1;
-DELETE: The DELETE statement is used to remove rows from a table. 
DELETE FROM students 
WHERE id =1;

Q4)What is DQL? Explain SELECT with an example?

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL includes commands like SELECT, which is used to retrieve data from one or more tables.
The SELECT command is used to retrieve data from one or more tables. The basic syntax of the SELECT command is as follows:

In [ ]:
SELECT column1, column2, ...
FROM table1
WHERE condition;
For example, let's say we have a table named "employees" with columns "employee_id", "first_name", "last_name", "job_title", and "salary". We want to retrieve the employee ID, first name, last name, and salary of all employees whose job title is "Manager". The SELECT statement would look like this:
SELECT employee_id, first_name, last_name, salary
FROM employees
WHERE job_title = 'Manager';

Q5)Explain Primary Key and Foreign Key?

Primary Key:
A primary key is a column or a combination of columns in a table that uniquely identifies each row in that table. The primary key constraint ensures that the values in the primary key column(s) are unique and not null. A primary key is used as a reference by other tables, and it is used to establish relationships between tables.
Foreign Key:
A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. The foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table. The foreign key is used to establish relationships between tables.

Q6)Write a python code to connect MySQL to python. Explain the cursor() and execute() method?

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost"
    user="abc"
    password="password"
)
mycursor=mydb.mycursor()
mycursor.execute("SHOW DATABASE")
for i in mycursor:
    print(i)

cursor() is a method that creates a cursor object, which is used to interact with the database. A cursor is like a pointer or iterator that allows you to move through the results of a query or to execute SQL commands. The cursor object provides methods for executing SQL statements, fetching data from the result set, and more.
execute() is a method that is used to execute an SQL command. It takes an SQL query as a parameter and sends it to the database for processing. The execute() method returns the number of rows that were affected by the query (e.g. updated or deleted) or the result set of a SELECT statement.

Q7)Give the order of execution of SQL clauses in an SQL query?

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
   host="localhost",
   user="abc",
   password="password"

)
mycursor=mydb.cursor()

mycursor.execute("select c1,c2 from DATABASE.TABLENAME")
for i in mycursor.fetchall():
    print(i)
mydb.close()